.navbar{

    background-color: rgba(40, 40, 40, 0.9);
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 99vw;
}

.button {

    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: grey;
    margin: 0px 10px;
    text-decoration: none;
    color: white;
    height: 40px;
    min-width: 80px;
    padding: 0 12px;
    border: 2px solid black;
    border-radius: 10px;
}

.home-button {

    display: flex;
    height: 80px;
    width: auto;
    border: 2px solid  rgba(40, 40, 40, 0.9);
}

.active {

    height:100%;
    width: 100%;
}

.button-text {

    margin: auto;
    font-size: 16px;
    text-decoration: none;
    color: white;
}

.button:hover {

    background-color: rgb(50, 50, 50);
    cursor: pointer;
}

.nav-links {

    display: flex;
    align-items: center;
    gap: 6px;
}